.contents-header{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 40px 0px;
  margin-bottom: 0px;
}
.contents-body{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 40px 20px;
  margin-bottom: 250px;
}

.contents-body table{
  width: 100%;
}
.contents-body th{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px;
  text-align: center;
}
.contents-body tbody tr:hover{
  background: rgba(238, 238, 238, 0.5);
}
.contents-body td{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  color: #6b6b6b;
}

.contents-body .contents-none{
  margin: 10px 20px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #aaa;
  font-size: 20px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.contents-btn-layout{
  overflow: hidden;
}
.contents-btn{
  float: right;
  margin: 10px;
  width: fit-content;
  background: #3296bb;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
